/* Variables */

:root {
    --basic-black: #000000;
    --basic-extra-dark: #293449;
    --basic-extra-dark-active: #161D29;
    --basic-dark: #32425C;
    --basic-neutral: #C5C5C5;
    --basic-extra-light: #F1F5F7;
    --basic-white: #ffffff;
    --special-red: #EE3643;
    --special-red-active: #BA2732;
    --special-green: #63A63E;
    --special-green-hover: #5FBB2D;
    --special-yellow: #FFD180;
    --special-dark: #212A3A;
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", sans-serif;
    color: var(--basic-black);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

/* Header */

.header {
    background-color: var(--basic-extra-light);
}

.submenu {
    background-color: var(--basic-extra-dark);
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.submenu a {
    color: var(--basic-white);
}

.submenu-order {
    background-color: var(--special-green);
}

.logo-header {
    background-color: var(--special-red);
    text-align: center;
    width: 220px;
    height: 47px;
}

.logo-header:active {
    background-color: var(--special-red-active);
}

.submenu-order:hover,
.submenu-order:focus {
    background-color: var(--special-green-hover);
}

.submenu-mark:active,
.submenu-cart:active {
    background-color: var(--basic-extra-dark-active);
    color: var(--basic-white-active);
}

.submenu-order:active {
    color: var(--basic-white-active);
}

.header-about {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--special-red);
}

.find-us a {
    color: var(--special-red);
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    border: solid 3px var(--basic-white);
}

.find-us-addr {
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-dark);
}

.header-button {
    font-family: inherit;
    font-size: 21px;
    line-height: 21px;
    background-color: var(--basic-white);
    text-align: center;
    vertical-align: middle;
    border: none;
}

.header-button:hover,
.header-button:focus {
    color: var(--special-red);
}

.header-button:active {
    color: var(--basic-neutral)
}

.nav {
    background-color: var(--basic-dark);
}

.nav-items {
    list-style: none;
}

.nav-items a {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.nav-items a:hover,
.nav-items a:focus,
.nav-items a:active {
    background-color: var(--basic-extra-dark);
}

.nav-items a:active {
    opacity: 0.5;
}

/* Main */

h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.text {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.transport-items {
    font-size: 18px;
    line-height: 24px;
}

.main-button {
    font-family: inherit;
    background-color: var(--special-red);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.main-button:active {
    background-color: var(--special-red-active);
}

/* Footer */

.footer {
    background-color: var(--basic-dark);
    color: var(--basic-white);
}

.logo-footer {
    background-color: var(--special-red);
    width: 220px;
    height: 68px;
    text-align: center;
}

.logo-footer:active {
    background-color: var(--special-red-active);
}

.footer-nav-items,
.subnav-items {
    list-style: none;
}

.footer-nav-items a {
    color: var(--basic-extra-light);
    font-size: 18px;
    line-height: 24px;
}

.footer-nav-items a:hover,
.footer-nav-items a:focus {
    text-decoration: underline;
}

.footer-nav-items a:active {
    opacity: 0.5;
}

.subnav-items a {
    color: var(--special-yellow);
    font-size: 18px;
    line-height: 24px;
}

.subnav-items a:hover,
.subnav-items a:focus {
    text-decoration: underline;
}

.subnav-items a:active {
    color: var(--special-yellow);
    opacity: 0.5;
}

.foot-find-us,
.foot-find-us a {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-extra-light);
}

.copyright {
    font-size: 16px;
    line-height: 18px;
}

.social-items {
    list-style: none;
}

.social-item {
    background-color: var(--special-dark);
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
}

.vk {
    background-image: url(../img/icon-vk.svg);
    color: var(--basic-white);
}

.fb {
    background-image: url(../img/icon-fb.svg);
    color: var(--basic-white);
}

.inst {
    background-image: url(../img/icon-insta.svg);
    color: var(--basic-white);
}

.social-item:hover,
.social-item:focus,
.social-item:active {
    background-color: var(--special-red);
}