/* Variables */

:root {
    --basic-black: #000000;
    --basic-extra-dark: #293449;
    --basic-dark: #32425C;
    --basic-neutral: #C5C5C5;
    --basic-extra-light: #F1F5F7;
    --basic-white: #ffffff;
    --special-red: #EE3643;
    --special-green: #63A63E;
    --special-yellow: #FFD180;
}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    color: var(--basic-black);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

