/* Variables */

:root {
    --basic-black: #000000;
    --basic-gray-extra-darkest: #161D29;
    --basic-gray-darkest: #212A3A;
    --basic-gray-extra-dark: #293449;
    --basic-gray-dark: #32425C;
    --basic-gray-normal: #3D546F;
    --basic-gray-light: #A9A9A9;
    --basic-gray-extra-light: #C5C5C5;
    --basic-gray-lightest: #E5E5E5;
    --basic-gray-extra-lightest: #F1F5F7;
    --basic-gray-double-estra-light: #EAEAEA;
    --basic-white: #ffffff;
   
    --basic-red-dark: #BA2732;
    --basic-red: #EE3643;
    --basic-red-light: #FF5357;
    
    
    --basic-green-light: #5FBB2D;
    --basic-green: #63A63E;
    --basic-green-dark: #518534;
    
    --basic-beige-dark: #F7F3EC;
    --basic-beige-normal: #F9F5F0;

    --special-white-opacity: rgba(255, 255, 255, 0.3);
    --special-grey-light-opacity: rgba(197, 197, 197, 0.3);
    --special-grey-dark-opacity: rgba(169, 169, 169, 0.3);

    --special-blue-normal: #3BBCE3;

    --special-purple-normal: #DC91D8;

    --special-green-normal: #8ED78F;

    --special-gold-extra-dark: #FFBF47;
    --special-gold-dark: #FFC047;
    --special-gold: #FFD180;
    
}

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Tahoma", sans-serif;
    color: var(--basic-black);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

/* Header -- Global */

.header {
    background-color: var(--basic-gray-extra-lightest);
    margin-bottom: 59px;
    display: flex;
    flex-direction: column;
}

/* Header -- Submenu */

.submenu-bg {
    background-color: var(--basic-gray-extra-dark);
}

.submenu {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.submenu-list {
    display: flex;
    justify-content: end;
    margin-right: 0;
    margin-left: auto;
    height: 100%;
}

.submenu-list a {
    display: inline-block;
    width: 150px;
    height: 47px;
    text-align: center;
    padding-top: 12px;
    margin: 0;   
}

.submenu a {
    color: var(--basic-white);
}

.submenu-order {
    background-color: var(--basic-green);
}

.submenu-cart-notempty {
    background-color: var(--basic-red);
}

.logo-header {
    background-color: var(--basic-red);
    margin-right: 17px;
    text-align: center;
    width: 220px;
    height: 47px;
}

.logo-header img {
    padding-top: 12px;
    padding-bottom: 17px;
}

.logo-header:active {
    background-color: var(--basic-red-dark);
}

.submenu-order:hover,
.submenu-order:focus {
    background-color: var(--basic-green-light);
}

.submenu-mark:active,
.submenu-cart:active,
.submenu-cart-notempty:active {
    background-color: var(--basic-gray-extra-darkest);
    opacity: 0.5;
}

.submenu-order:active {
    opacity: 0.5;
}

/* Header -- Submenu -- Search */

.search-input {
    background-color: var(--basic-gray-extra-dark);
    border: none;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.search-input:focus {
    background-color: var(--basic-white);
}

.search-input::-webkit-input-placeholder {
    color: var(--basic-white);
}

.search-input::-moz-placeholder {
    color: var(--basic-white);
}

/* Header -- About & Find Us*/

.row-about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 153px;
}

.header-about {
    width: 240px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}

.find-us {
    width: 270px;
}

.find-us a {
    display: block;
    width: auto;
    color: var(--basic-red);
    text-align: center;
    padding-top: 4px;
    padding-bottom: 5px;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    border: solid 3px var(--basic-white);
}

.find-us-addr {
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-gray-dark);
    text-align: center;
    margin: 0;
    margin-top: 3px;
}

/* Header -- Personal Area */

.login {
    width: 299px;
    min-height: 45px;
    background-color: var(--basic-white);
    text-align: center;
    padding-top: 12px;
    margin-bottom: 7px;
}

.personel-name {
    display: inline;
    font-size: 21px;
    line-height: 21px;
}

.personel {
    text-align: center;
}

.personel a:not(:last-child) {
    margin-right: 33px;
}

.personel a {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-gray-dark);
}

.personel a:hover,
.personel a:focus {
    color: var(--basic-red);
}

.personel a:active {
    color: var(--basic-gray-extra-light);
}

.login-btn,
.signin-btn {
    height: 45px;
    font-family: inherit;
    font-size: 21px;
    line-height: 21px;
    background-color: var(--basic-white);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 28px;
    border: none;
}

.login-btn {
    width: 121px;
    margin-right: 10px;
}

.signin-btn {
    width: 150px;
}

.login-btn:hover,
.login-btn:focus,
.signin-btn:hover,
.signin-btn:focus {
    color: var(--basic-red);
}

.login-btn:active,
.signin-btn:active {
    color: var(--basic-gray-extra-light)
}

.logout-btn {
    border: 0;
    background-color: var(--basic-white);
    color: var(--basic-gray-extra-light);
}

.logout-btn:hover,
.logout-btn:focus {
    color: var(--basic-gray-normal);
}

.logout-btn:active {
    color: var(--basic-gray-normal);
}

/* Header -- Navigation */

.nav {
    background-color: var(--basic-gray-dark);
    min-height: 60px;
    margin-bottom: 60px;
}

.nav ul {
    list-style: none;
    margin: 0;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-items li {

    flex-grow: 1;
    min-height: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 16px;
}

.nav-items a {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.nav-items a:hover,
.nav-items a:focus,
.nav-items a:active {
    background-color: var(--basic-gray-extra-dark);
}

.nav-items a:active {
    opacity: 0.5;
}

/* Main -- Global */

.title-inner {
    background-color: var(--basic-beige-normal);
}

.title-inner h2 {
    color: var(--basic-gray-dark);
}

.inner {
    background-color: var(--basic-gray-extra-lightest);
}

h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.title {
    color: var(--basic-gray-dark);
}

.text {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.transport-items {
    font-size: 18px;
    line-height: 24px;
}

.main-btn {
    display: inline-block;
    min-height: 38px;
    padding-top: 11px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: inherit;
    background-color: var(--basic-red);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    border: none;
}

.main-btn:active {
    background-color: var(--basic-red-dark);
}

/* Main -- Offer */

.offer-items h3 {
    color: var(--basic-white);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.offer-button {
    background-color: var(--special-white-opacity);
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.offer-button:hover,
.offer-button:focus {
    background-color: var(--special-grey-light-opacity);
}

.offer-button:active {
    background-color: var(--special-grey-dark-opacity);
}

.item {
    width: 300px;
    min-height: 123px;
}

.materials {
    background-color: var(--special-gold-extra-dark);
}

.tools {
    background-color: var(--special-blue-normal);
}

.technology {
    background-color: var(--special-purple-normal);
}

.discount {
    background-color: var(--special-green-normal);
}

.delivery {
    background-color: var(--special-gold-dark);
}

/* Main - Offer - Slider */

.slider {
    background-image: url(../img/perforators.jpg);
    width: 620px;
    height: 266px;
}

.slider h3{
    color: var(--basic-white);
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.slider p {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

/* Main -- Partners */

.partners ul {
    list-style: none;
}

.partners-items li {
    border: solid 1px var(--basic-gray-double-estra-light);
    width: 220px;
    height: 145px;
    text-align: center;
}

/* Main -- Services */

.services ul {
    list-style: none;
}

.services button {
    border: none;
    background-color: var(--basic-gray-dark);
    width: 240px;
    height: 61px;
    color: var(--basic-white);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.services button:hover,
.services button:focus {
    background-color: var(--basic-gray-extra-dark);
}

.services button:active {
    background-color: var(--basic-white);
    color: var(--basic-gray-dark);
}

.items-desc h3 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-gray-dark);
}

.services a {
    color: var(--basic-white);
    background-color: var(--basic-red-light);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

/* Main -- About Us & Contacts Flex*/

.row-about-us {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.about-us {
    width: 478px;
}

.contacts {
    width: 300px;
}

.contacts button {
    margin: 0;
    margin-top: 38px;
}

.about-us .main-btn {
    margin-top: 20px;
}

button.main-btn {
    padding: 0;
    width: inherit;
}

/* Main -- Catalog Grid */

.catalog-grid {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: min-content min-content 1fr;
    gap: 20px;
}

.title-inner-grid {
    grid-column: 1/-1;
    background-color: var(--basic-gray-extra-lightest);
}

.sorting {
    grid-column: 2/-1;
    grid-row: 3/3;
}

.filter {
    grid-column: 1/1;
    grid-row: 3/5;
}

/*Main -- Catalog -- Products Grid */

.products {
    display: grid;
    gap: 20px;
    
}

.products-list {
    display: grid;
    gap: 20px;
    grid-template-columns: 220px 220px 220px;
}

/* Main -- Breadcrumbs */

.breadcrumbs {
    grid-column: 1/-1 ;
}

.breadcrumbs ul {
    list-style: none;
}

.breadcrumbs a{
    font-family: 'PT Sans', "Tahoma", sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: inherit;
}

.home {
    display: inline-block;
    background-image: url(../img/icon-home.svg);
    width: 14px;
    height: 12px;
}

/* Main -- Filter & sorting Form */

.filt-sorting-inner {
    background-color: var(--basic-beige-dark);
}

.filter,
.sorting {
    font-family: "PT Sans", "Tahoma", sans-serif;
    text-transform: uppercase;
}

.filter h3,
.sorting h3 {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
}

fieldset {
    border: none;
}

legend {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    
}

.filter ul {
    list-style: none;
}

.filter-items {
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}

.filter-btn {
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    background-color: var(--basic-white);
    border: solid 1px var(--basic-gray-lightest);
}

.price-input {
    background-color: var(--basic-beige-dark);
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    border: none;
}

.sorting ul {
    list-style: none;
}

.sorting-items a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--basic-red);
    color: var(--basic-black);
    opacity: 0.3;
    font-size: 13px;
    line-height: 17px;
}

.sorting-items a:hover,
.sorting-items a:focus {
    opacity: 1;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--basic-red);
}

.sorting-items a:active {
    text-decoration: none;
    color: var(--basic-red);
}



/* Main -- Product List */

.products ul {
    list-style: none;
    padding: 0;
}

.product-item,
.product-item-hover {
    border: 1px solid var(--basic-gray-lightest);
    width: 220px;
    height: 318px;
    text-align: center;
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.product-item h3,
.product-item-hover h3 {
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

.sale {
    font: inherit;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: var(--basic-gray-light);
}

.price {
    font: inherit;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.new {
    font: inherit;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.btn-cart {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    border: none;
    border-radius: 2px;
    background-color: var(--basic-green);
    width: 135px;
    height: 38px;
    text-transform: uppercase;
}

.btn-mark {
    font-family: "Cuprum", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-gray-dark);
    border: 3px solid var(--basic-green);
    border-radius: 2px;
    background-color: var(--basic-white);
    width: 135px;
    height: 38px;
    text-transform: uppercase;
}

.btn-cart:hover,
.btn-cart:focus {
    background-color: var(--basic-green-light);
}

.btn-cart:active {
    background-color: var(--basic-green-dark);
}

.btn-mark:hover,
.btn-mark:focus {
    border-color: var(--basic-gray-dark);
}

.btn-mark:active {
    opacity: 0.5;
}

.pagination-item,
.pagination-item-next {
    border: solid 1px var(--basic-gray-lightest);
    border-radius: 2px;
    color: var(--basic-black);
}

.pagination-item {
    display: inline-table;
    width: 38px;
    height: 38px;
}

.pagination-item:hover,
.pagination-item-next:hover,
.pagination-item:focus,
.pagination-item-next:focus {
    border-color: var(--basic-gray-extra-light);
}

.pagination-item:active,
.pagination-item-next:active {
    border-color: var(--basic-red);
}

.pagination-item-next {
    display: inline-table;
    width: 140px;
    height: 38px;
}




/* Footer -- Global */

.footer {
    background-color: var(--basic-gray-dark);
    color: var(--basic-white);
}

.footer-inner {
    background-color: var(--basic-gray-extra-dark);
}

/* Footer -- Logo & contacts*/

.logo-footer {
    background-color: var(--basic-red);
    width: 220px;
    height: 68px;
    padding-top: 20px;
    text-align: center;
}

.logo-footer:active {
    background-color: var(--basic-red-dark);
}

.column-logo-contacts {
    display: flex;
    flex-direction: column;
}

.foot-find-us,
.foot-find-us a {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-gray-extra-lightest);
}

/* Footer -- Navigation */ 

.footer-nav ul {
    list-style: none;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-nav-list {
    display: flex;
    flex-direction: column;
}

.footer-nav-items,
.subnav-items {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    padding-top: 37px;
}

.footer-nav-items li:not(:first-child),
.subnav-items li:not(:first-child) {
    margin-left: 60px;
}

.footer-nav-items a {
    color: var(--basic-gray-extra-lightest);
    font-size: 18px;
    line-height: 24px;
    
}

.footer-nav-items a:hover,
.footer-nav-items a:focus {
    text-decoration: underline;
}

.footer-nav-items a:active {
    opacity: 0.5;
}

.subnav-items a {
    color: var(--special-gold);
    font-size: 18px;
    line-height: 24px;
}

.subnav-items a:hover,
.subnav-items a:focus {
    text-decoration: underline;
}

.subnav-items a:active {
    color: var(--special-gold);
    opacity: 0.5;
}

/* Footer -- Find Us & Copyright Section*/

.row-copyright {
    display: flex;
    justify-content: flex-end;
}

.copyright, 
.e-mail,
.site {
    flex-grow: 1;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    margin-top: 35px;
}

.e-mail {
    width: 137px;
    margin-left: 118px;
}

.site {
    width: 98px;
    margin-left: 51px;
}

.copyright {
    flex-grow: 1;
    justify-self: flex-start;
    width: 227px;
}

.e-mail a,
.site a {
    color: var(--special-gold);
}

.e-mail a:hover,
.e-mail a:focus,
.site a:hover,
.site a:focus {
    text-decoration: underline;
}

.e-mail a:active,
.site a:active {
    color: var(--basic-red);
}

/* Footer - Social */

.social {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    margin-top: 34px;
    margin-bottom: 29px;
    margin-left: 149px;
}

.social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-items li {
    display: inline-block;
    margin: 0;
    
}

.social-item {
    display: block;
    background-color: var(--basic-gray-darkest);
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
}

.vk {
    background-image: url(../img/icon-vk.svg);
    color: var(--basic-white);
}

.fb {
    background-image: url(../img/icon-fb.svg);
    color: var(--basic-white);
}

.inst {
    background-image: url(../img/icon-insta.svg);
    color: var(--basic-white);
}

.social-item:hover,
.social-item:focus,
.social-item:active {
    background-color: var(--basic-red);
}

/* Pop-ups */

.popup {
    display: none;
}